[core]
	editor = vim
	excludesFile = /Users/deka.akbar/.gitignore
  
[user]
	name = deka108
	email = deka108@gmail.com

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[merge]
	tool = vimdiff

[alias]
	dog = "log --decorate --oneline --graph"
	l = "log --decorate --oneline"
	rb = "rebase"
	fl = "reflog"
	rst = "reset --hard HEAD"
	e = "commit --allow-empty -m 'Trigger Build'"

[feature]
    manyFiles = true

[rerere]
    enabled = true

[github]
    username = deka108
